In [232]:
import pandas as pd
import numpy as np
import datetime

## Ingestion Methods
*Data mostly taken from wikipedia*

In [233]:
def format_date(row):
    try:
        month = datetime.datetime.strptime(row["Date"][:3], "%b").month
        day = row["Date"].split(' ')[1]
        day = int(day.split(',')[0])
        year = int(row["Date"].split(' ')[2])        
        row["Date"] = "{}, {}, {}".format(year, month, day)
    except:
        print("HERE")    # dump these rows
        print(row)
        
def dump_df(csv_path, publisher_name, ticker):
    df = pd.read_csv(csv_path)
    df.replace('nan', np.nan, regex=True)
    df.Title = df.Title.ffill()
    df.Date = df.Date.ffill()
    df = df.groupby('Title').agg({'Date': 'first', 'Platforms': lambda x: ', '.join(x), 'Developers': 'first'}).reset_index() 
    df.apply(format_date, axis=1)
    df = df[df.Date >= "2010"]
    df = df[df["Platforms"].str.contains('PlayStation|Xbox|Nintendo')].reset_index().drop(['index'], axis=1)
    df.insert(loc=0, column="Ticker", value=ticker)
    df.insert(loc=0, column="Publisher", value=publisher_name)
    return df

In [234]:
# activision
atvi = pd.read_csv("./raw_data/games/ATVI.csv")
atvi.insert(loc=0, column="Ticker", value="ATVI")
atvi.insert(loc=0, column="Publisher", value="Activision")
atvi.head(5)

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Activision,ATVI,Call of Duty: Black Ops 4,"2018, 8, 3","PlayStation 4, Xbox One, Microsoft Windows","Treyarch, Raven Software, Beenox"
1,Activision,ATVI,Call of Duty: Black Ops Cold War,"2020, 11, 13",PlayStation 5,"Treyarch, Raven Software, Beenox"
2,Activision,ATVI,Call of Duty: Infinite Warfare,"2016, 11, 4","Microsoft Windows, Xbox One, PlayStation 4",Infinity Ward
3,Activision,ATVI,Call of Duty: Modern Warfare,"2019, 8, 23","Microsoft Windows, PlayStation 4, Xbox One, Mi...","Infinity Ward, Sledgehammer Games"
4,Activision,ATVI,Call of Duty: WWII,"2017, 11, 3","Microsoft Windows, Xbox One, PlayStation 4","Raven Software, Sledgehammer Games"

In [235]:
# ubisoft
ubi = dump_df("./raw_data/games/UBI.csv", "Ubisoft", "UBSFY")
ubi.head(5)

HERE
Title         Galaxy Racers
Date              July 2010
Platforms       Nintendo DS
Developers      Kunst-Stoff
Name: 94, dtype: object

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Ubisoft,UBSFY,Arthur and the Revenge of Maltazard,"2010, 9, 24","Microsoft Windows, PlayStation 3, Wii",Phoenix Studio
1,Ubisoft,UBSFY,Asphalt 6: Adrenaline,"2011, 3, 27",Nintendo 3DS,Gameloft Montreal
2,Ubisoft,UBSFY,Asphalt: Injection,"2012, 2, 14",PlayStation Vita,Gameloft Bucharest
3,Ubisoft,UBSFY,Assassin's Creed Chronicles: China,"2015, 4, 21","Microsoft Windows, PlayStation 4, Xbox One","Climax Studios, Massive Entertainment, Ubisoft..."
4,Ubisoft,UBSFY,Assassin's Creed Chronicles: India,"2016, 1, 13","Microsoft Windows, PlayStation 4, Xbox One","Climax Studios, Ubisoft Barcelona"

In [236]:
# cd projekt red
cdpr = pd.read_csv("./raw_data/games/CDPR.csv")
cdpr.insert(loc=0, column="Ticker", value="OTGLF")
cdpr.insert(loc=0, column="Publisher", value="CD Projekt")
cdpr.head(5)

,Publisher,Ticker,Title,Date,Platforms,Developers
0,CD Projekt,OTGLF,Cyberpunk 2077,"2020, 12, 10","Microsoft Windows, PlayStation 4, Stadia, Xbox...",CDPR
1,CD Projekt,OTGLF,Gwent: The Witcher Card Game,"2018, 10, 25","Microsoft Windows, PlayStation 4, Xbox One, iO...",CDPR
2,CD Projekt,OTGLF,The Witcher 3: Wild Hunt,"2015, 5, 18","Microsoft Windows, PlayStation 4, Xbox One, Ni...",CDPR
3,CD Projekt,OTGLF,Thronebreaker: The Witcher Tales,"2018, 10, 23","Microsoft Windows, PlayStation 4, Xbox One, Ni...",CDPR
4,CD Projekt,OTGLF,The Witcher 2: Assassins of Kings,"2011, 5, 17","Linux, macOS, Microsoft Windows, Xbox 360",CDPR

In [237]:
# take-two 2k
tti2k = dump_df("./raw_data/games/2K.csv", "2K Games", "TTWO")
tti2k.head(5)

,Publisher,Ticker,Title,Date,Platforms,Developers
0,2K Games,TTWO,Axel & Pixel,"2018, 3, 14","Xbox One Backwards Compatible, Microsoft Windows",Silver Wish Games
1,2K Games,TTWO,Battleborn,"2016, 5, 3","Microsoft Windows, PlayStation 4, Xbox One",Gearbox Software / OMNOM! Workshop / Secret Sa...
2,2K Games,TTWO,Battleborn: Free Trial,"2017, 6, 6","Microsoft Windows, PlayStation 4, Xbox One",Gearbox Software
3,2K Games,TTWO,BioShock,"2016, 12, 13","Xbox One Backwards Compatible, iOS",2K Boston / 2K Australia
4,2K Games,TTWO,BioShock 2,"2016, 12, 13","Xbox One Backwards Compatible, Microsoft Windo...",2K Marin / 2K Australia / 2K China / Digital E...

In [238]:
#take-two rockstar
ttirs = dump_df("./raw_data/games/RSTAR.csv", "Rockstar Games", "TTWO")
ttirs.head(5)

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Rockstar Games,TTWO,Bully,"2016, 3, 22",PlayStation 2 Originals on PlayStation 4,Rockstar Vancouver
1,Rockstar Games,TTWO,Grand Theft Auto III,"2015, 12, 5","PlayStation 2 Originals on PlayStation 4, Amaz...",DMA Design
2,Rockstar Games,TTWO,Grand Theft Auto IV: The Lost and Damned,"2010, 4, 13","Microsoft Windows, PlayStation 3, Xbox 360",Rockstar Toronto / Rockstar New England
3,Rockstar Games,TTWO,Grand Theft Auto Online,"2015, 4, 14","Microsoft Windows, PlayStation 4, Xbox One, Pl...",Rockstar North
4,Rockstar Games,TTWO,Grand Theft Auto V,"2015, 4, 14","Microsoft Windows, PlayStation 4, Xbox One, Pl...",Rockstar North / Rockstar San Diego / Rockstar...

In [239]:
# electronic arts
ea = dump_df("./raw_data/games/EA.csv", "Electronic Arts", "EA")
ea.head(5)

HERE
Title         Dragon's Lair[a]
Date                 July 2010
Platforms                  iOS
Developers     Digital Leisure
Name: 47, dtype: object
HERE
Title          NHL Superstars
Date             October 2011
Platforms            Facebook
Developers    Electronic Arts
Name: 151, dtype: object

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Electronic Arts,EA,2010 FIFA World Cup South Africa,"2010, 4, 27","PlayStation 3, PlayStation Portable, Wii, Xbox...",EA Canada
1,Electronic Arts,EA,2014 FIFA World Cup Brazil,"2014, 4, 15","PlayStation 3, Xbox 360",EA Canada
2,Electronic Arts,EA,A Way Out,"2018, 3, 23","PlayStation 4, Windows, Xbox One",Hazelight Studios
3,Electronic Arts,EA,Alice: Madness Returns,"2017, 1, 27","Xbox One, iOS, PlayStation 3, Windows, Xbox 36...",Spicy Horse
4,Electronic Arts,EA,American McGee's Alice,"2011, 6, 14","PlayStation 3, Xbox 360",Rogue Entertainment

In [240]:
nint = dump_df("./raw_data/games/NINT.csv", "Nintendo", "NTDOY")
nint.head(5)

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Nintendo,NTDOY,Bayonetta,"2018, 2, 16",Nintendo Switch,PlatinumGames
1,Nintendo,NTDOY,Bayonetta 2,"2018, 2, 16",Nintendo Switch,PlatinumGames
2,Nintendo,NTDOY,Luigi's Mansion 3,"2019, 10, 31",Nintendo Switch,Next Level Games
3,Nintendo,NTDOY,Octopath Traveler[B],"2018, 7, 13",Nintendo Switch,Square Enix\nAcquire
4,Nintendo,NTDOY,Paper Mario: The Origami King,"2020, 7, 17",Nintendo Switch,Intelligent Systems

In [241]:
game_list = [atvi, ubi, cdpr, tti2k, ttirs, ea, nint]

In [242]:
games = pd.concat(game_list)
games

,Publisher,Ticker,Title,Date,Platforms,Developers
0,Activision,ATVI,Call of Duty: Black Ops 4,"2018, 8, 3","PlayStation 4, Xbox One, Microsoft Windows","Treyarch, Raven Software, Beenox"
1,Activision,ATVI,Call of Duty: Black Ops Cold War,"2020, 11, 13",PlayStation 5,"Treyarch, Raven Software, Beenox"
2,Activision,ATVI,Call of Duty: Infinite Warfare,"2016, 11, 4","Microsoft Windows, Xbox One, PlayStation 4",Infinity Ward
3,Activision,ATVI,Call of Duty: Modern Warfare,"2019, 8, 23","Microsoft Windows, PlayStation 4, Xbox One, Mi...","Infinity Ward, Sledgehammer Games"
4,Activision,ATVI,Call of Duty: WWII,"2017, 11, 3","Microsoft Windows, Xbox One, PlayStation 4","Raven Software, Sledgehammer Games"
...,...,...,...,...,...,...
6,Nintendo,NTDOY,Super Mario Odyssey,"2017, 10, 27",Nintendo Switch,Nintendo EPD
7,Nintendo,NTDOY,Super Mario Party,"2018, 10, 5",Nintendo Switch,NDcube
8,Nintendo,NTDOY,Super Smash Bros. Ultimate,"2018, 12, 7",Nintendo Switch,Sora Ltd.\nBandai Namco Studios
9,Nintendo,NTDOY,The Legend of Zelda: Breath of the Wild,"2017, 3, 3",Nintendo Switch,Nintendo EPD
10,Nintendo,NTDOY,The Legend of Zelda: Link's Awakening,"2019, 9, 20",Nintendo Switch,Grezzo

In [243]:
games.to_csv("games2.csv")